* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0d0e0f;
}

body,
input,
textarea,
select,
button,
h1
{
  color: white;
  font: 400 rem "Roboto", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

main {
  width: 55%;
  margin: 0 auto;
  margin-top: 10%;
}

h1 {
  text-align: center;
  font-size: 3rem;
  padding-bottom: 1.7rem;
}

.searchBox {
  background: rgb(247, 247, 247);
  padding: 10px;
  border-radius: 800px;
  display: flex;
  box-shadow: 0px 2px 3px rgba(255, 255, 255, 0.5);
}

.searchBox input {
  flex: 1;
  border: none;
  outline: none;
  padding: 0px 20px;
  font-size: 23px;
  background-color: rgb(247, 247, 247);
  color: black;
}

.searchBox button {
  background: #0d0e0f;
  color: rgb(247, 247, 247);
  padding: 15px 44px;
  border: none;
  border-radius: 800px;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
}

.searchBox button:hover{
  background: #0d0e0fd2;
}

.pokemonBox {
  display: flex;
  margin-top: 4rem;
  justify-content: center;
}

.pokemonBox img {
  width: 400px;
}

.pokemonBox p {
  margin-top: 0rem;
}

.pokemonBox .pokemonInfos {
  padding: 2rem;
}